.hireme {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: #52676E;
}

.hireme__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 30px;
}

.hireme__container > img {
    width: 400px;
    opacity: 0.8;
    padding-right: 60px;
}

.hireme__title {
    font-size: 4vw;
    color: white;
}

.hireme__text {
    font-size: 2vw;
    color: white;
    width: 90%;
}

.hireme__container > h3 {
    font-size: 2vw;
    color: white;
    width: 90% ;
}

.hireme__buttons {
    display: flex;
    width: 90%;
    margin-bottom: 20px;
    justify-content: center;
    gap: 30px;
}

.hireme__button > a{
    text-decoration: none;
    color: white;
}

.hireme__button {
    background: linear-gradient(to top, #FFC757,
    #FFC857,
    #FFC957,
    #fdcc6a,
    #ffd685,
    #fde2ac);
    padding: 10px;
    border-radius: 20px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}