.myProjects {
    display: flex;
    justify-content: center;
    height: 100vh;
    /* background-image: linear-gradient( to right,#000000, #242424, #474747, #797979, #9c9c9c,#9c9c9c,#797979,#474747,#242424, #000 ); */
    background-color: #2E4052;
}

.myProjects__container {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.myProjects__textAndPhoto {
    width: 100%;
    max-height: 60vh;
    background-color: black;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);

}

.myProjects__container > h1 {
    color: white;
    font-size: 3.5vw;
}

.myProjects__textAligner {
    color: white;
    font-size: 2.5vh;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myProjects__textAndPhoto > img {
    opacity: 0.7;
    height: 100%;
    width: 100%;
    max-width: 1500px;
}

.myProjects__cardsList {
    max-width: 85vw;
    display: flex;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 30px;
    box-sizing: content-box;
}

.card {
    position: relative;
    flex-direction: column;
    height: 65vh;
    width: 30vw;
    /* max-width: 250px; */
    padding: 2px;
    border-radius: 3px;
    background: #0e0e0f;
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
}

.hideBorder {
    border: unset !important;
}

.tags {
    position: absolute;
    bottom: 20px;
    left: 30px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-self: flex-end;
}

article img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 3px;
}

.card-header {
    position: absolute;
    top: 20px;
}

.tags > a {
    text-decoration: none;
    color: white;
    border: 2px solid rgb(245, 237, 237);
    border-radius: 20px;
    padding: 3px;
}

.tags > a:hover {
    color: var(--blue-color);
    border-color: var(--blue-color);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(80px);
}

.card:not(:first-child) {
    margin-left: -80px;
}

@media screen and (max-width: 600px) {
    .myProjects__cardsList {
        max-width: 400px !important;
    }
}

@media screen and (max-width: 900px) {
    .myProjects__cardsList {
        max-width: 600px;
    }
}

