.header__logo {
  width: 40px;
  height: 30px;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid black;
}

.header__container {
  display: flex;
  align-items: center;
  position: sticky;
  width: 100%;
  /* max-width: var(--max-width); */

}

.header__items {
    display: flex;
    width: 100%;
    gap: 60px;
    
}

.header__items > a {
  text-decoration: none;
  color: #412234;
}

.header__labels:hover {
  cursor: pointer;
  color: var(--primary-color);
}